<app-navigation></app-navigation>
<h1>My Bicycles</h1>

<div class="bicycle">
<h2>Create Listing</h2>
	<form #formData='ngForm' (submit)="create(formData.value)" novalidate>
		<div>
			<input
				ng2FileSelect
				[uploader]="uploader"
				type="file" 
				name="image" 
				required 
				[(ngModel)]="bicycle.image" 
				#image="ngModel" 
				(change)="previewImage($event)"
			/>
			<img src="" alt="Image Required" id="image" accept="image/*" >
			
		</div>
		<div>
			<label>Title:</label>
			<input
				type="text"
				name="title"
				required
				minlength="2"
				maxlength="25"
				[(ngModel)]="bicycle.title"
				#title="ngModel"
			/><h4><span *ngIf="title.errors && title.dirty" class="warning"> Title must be valid.</span>
				<span *ngIf="!title.errors && title.dirty" class="valid"> Valid.</span>
			</h4>
			<label>Description:</label>
			<textarea 
				name="description" 
				required
				maxlength="200"
				rows="4" 
				cols="50" 
				[(ngModel)]="bicycle.description"
				#description="ngModel"
			></textarea>
		</div>
		<div>
			<label>Price:</label>
			<input
				type="text"
				name="price"
				required
				minlength="1"
				maxlength="10"
				pattern="^\$?[\d,]+(\.\d*)?$"
				[(ngModel)]="bicycle.price"
				#price="ngModel"
			/><h4><span *ngIf="price.errors && price.dirty" class="warning"> Price must be valid.</span>
				<span *ngIf="!price.errors && price.dirty" class="valid"> Valid.</span>
			</h4>
			<label>Location:</label>
			<input
				type="text"
				name="location"
				required
				placeholder="Austin, TX"
				pattern="^[a-zA-Z ]{3,45}, ?[a-zA-Z]{2}$"
				[(ngModel)]="bicycle.location"
				#location="ngModel"
			/><h4 id="location"><span *ngIf="location.errors && location.dirty" class="warning"> Location must be city, state abbreviation (i.e. Arlington, VA).</span>
			<span *ngIf="!checkState(bicycle.location) && location.dirty" class="error"> Invalid city or state.</span>
				<span *ngIf="!location.errors && location.dirty && checkState(bicycle.location)" class="valid"> Valid city and state.</span>
			</h4>
			<input type="submit" value="Create" [disabled]="title.errors || description.errors || price.errors || location.errors || !uploader.getNotUploadedItems().length">
		</div>
	</form>
	<span *ngIf=" errors && errors.image" id="error1" class="error"><b>{{errors.image}}</b></span>
	<!-- <span *ngIf="error" class="error" style="text-align:center;">{{ error }}</span> -->
</div>
<hr>
<app-my-bicycles-list [states]="states"></app-my-bicycles-list>