<div id="login" class="w3-card-4 w3-black w3-border w3-border-white w3-round-large w3-opacity-min" style="width:40%; margin: 0px auto;">
	<h2>Login</h2>
	<form class="w3-container" #formData='ngForm' (submit)="login(formData.value)" novalidate>
		<label>Email:</label>
		<input
			type="email"
			name="email"
			required
			pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
			[(ngModel)]="guest.email"
			#email="ngModel"
			class="w3-input w3-border w3-round"
		/><div><span *ngIf="email.errors && email.dirty" class="warning"> Email must be valid.</span>
			<span *ngIf="!email.errors && email.dirty" class="valid"> Valid.</span></div>
		<label>Password:</label>
		<input
			type="password"
			name="password"
			required
			pattern="^(?=.*[0-9])(?=.*[A-Z])\S{8,16}$"
			[(ngModel)]="guest.password"
			#password="ngModel"
			class="w3-input w3-border w3-round"
		/><div><span *ngIf="password.errors && password.dirty" class="warning"> Password must be 8-16 characters and include one uppercase letter and number.</span>
			<span *ngIf="!password.errors && password.dirty" class="valid"> Valid.</span></div>
		<input class="w3-button w3-black w3-border w3-ripple w3-round-large" [disabled]="password.errors || email.errors" type="submit" value="Login">
	</form>
	<span *ngIf="error" class="error" style="text-align:center;">{{ error }}</span>
<div>
