.main{
	display: block;
	margin: 10px auto;
}

.error{
	color: red;
}

.warning{
	color: orange;
}

.valid{
	color: green;
}
#login h2, #registration h2{
	text-align: center;
}

#login input[type=submit], #registration input[type=submit]{
	margin: 10px auto;
	display: block;
}

#login span:nth-of-type(1){
	display: block;
	text-align: center;
}
#bike_of_the_day{
	width: 25%;
	margin: 10px auto;
}

#bike_of_the_day h2, #bike_of_the_day h3, #bike_of_the_day p{
	text-align: center;
}

.loader{
	border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
	border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
