.error{
	color: red;
}

.warning{
	color: orange;
}

.valid{
	color: green;
}

#login form, #registration form{
	width: 400px;
	margin: 0px auto;
}

#login h2, #registration h2{
	text-align: center;
}

#login label, #registration label{
	display: inline-block;
	text-align: left;
	width: 100px;
	margin-top: 15px;
}

#login input[name], #registration input[name]{
	width: 250px;
}

#login input[type=submit], #registration input[type=submit]{
	margin: 20px auto;
	display: block;
}

#login form div, #registration form div{
	width: 400px;
	height: 18px;
	text-align: center;
}

#login span:nth-of-type(1){
	display: block;
	text-align: center;
}